body{
    margin:0;
    padding:0;
    background-color:#996633;
}
header{
    background-color: #f7c331;
    background-image: url(logo.jpg);
    background-size: 68px;
    background-position: left;
    background-repeat: no-repeat;
    height: 68px;
    display: flex;
    align-items: center;
    align-content:  space-around;
    padding-left: 70px;
}
header nav a{
    margin-left:2%;
}
