body{
    margin:0;
    padding:0;
    background-color:white;
   
}
header{
    background-color: white;
    background-image: url(logo.jpg);
    background-size: 68px;
    background-position: left;
    background-repeat: no-repeat;
    height: 68px;
    display: flex;
    align-items: center;
    align-content:  space-around;
    padding-left: 70px;
}
header nav a{
    margin-left:20px;
    text-decoration: none;
    color:black;
}
header p{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
